<%- include('partials/header'); -%>

<h1>Create Article</h1>
<form method="post" action="/compose">
    <h2>Title</h2>
    <input type="text" name="title" class="form-title" placeholder="article title">
    <h2>Post</h2>
    <textarea class="form-content" name="content" rows="10"></textarea><br />
    <button class="publish-btn" type="submit">Publish</button>
</form>

<%- include('partials/footer'); -%>